html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
header {
  padding: 0 20px;
}
header .logo {
  margin: 0;
  padding: 0;
  line-height: 100px;
}
header .button {
  position: absolute;
  right: 20px;
  top: 20px;
}
header .button.show,
#showmenu:target header .button.hide {
  display: block;
}
header .button.hide,
#showmenu:target header .button.show {
  display: none;
}
#wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}
#content,
#menu {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform .5s ease;
}
#showmenu:target #content,
#showmenu:target #menu {
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}
#content {
  float: left;
  width: 100%;
  margin-right: -100%;
}
#showmenu:target #content {
  position: fixed;
  top: 100px;
}
#menu {
  float: left;
  position: relative;
  top: 0;
  left: 100%;
  width: 100%;
}
.with-styling {
  font: 16px 'Helvetica Neue', sans-serif;
  background: #efefef;
}
.with-styling header {
  background: #333;
  color: white;
}
.with-styling .logo {
  font-weight: normal;
}
.with-styling .button {
  background: white;
  color: black;
  text-decoration: none;
  padding: 20px;
}
.with-styling #content {
  background: white;
  padding: 20px;
}
.with-styling #menu {
  background: gray;
}
.with-styling #menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding: 20px;
}
.with-styling #menu li {
  background: white;
  padding: 20px;
  margin-bottom: 10px;
}
.with-styling #menu li:last-child {
  margin-bottom: 0;
}
